[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
cryptography = "<3.4"
django = "~=2.2.24"
"boto3" = "~=1.17.109"
django-environ = "~=0.4.5"
django-storages = "~=1.11"
psycopg2 = "<2.9"
waitress = "~=1.4.4"
whitenoise = "~=5.2.0"
djangorestframework = "~=3.12.4"
django-bootstrap4 = "~=2.3.1"
django-allauth = "~=0.45.0"
django-rest-auth = "~=0.9.5"
django-extensions = "~=3.1.3"
packaging = "*"
drf-yasg = "~=1.20.0"
pyyaml = "~=5.4.1"
pillow = "~=8.3.1"
pytest = "==6.2.4"
factory-boy = "==3.2.0"
