[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
cryptography = "~=40.0.2"
django = "~=2.2.26"
"boto3" = "~=1.26.118"
django-environ = "~=0.10.0"
django-storages = "~=1.12"
psycopg2 = "<2.9"
waitress = "~=2.1.2"
whitenoise = "~=6.0.0"
djangorestframework = "~=3.13.1"
django-bootstrap4 = "~=22.1"
django-allauth = "~=0.54.0"
django-rest-auth = "~=0.9.5"
django-extensions = "~=3.1.5"
packaging = "*"
pyyaml = "~=6.0"
pillow = "~=9.5.0"
pytest = "==7.3.1"
factory-boy = "==3.2.1"
google-cloud-secret-manager = "==2.13.0"
google-auth = "==2.16.3"
google-cloud-storage = "==2.8.0"
pipenv = "*"
django-import-export = "*"
drf-spectacular = "~=0.26.2"
