version: 2.1

jobs:
  build_and_deploy:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - cloudrun/init
      - cloudrun/build:
          tag: 'gcr.io/${GOOGLE_PROJECT_ID}/${GOOGLE_SERVICE_NAME}'

      - run:
          name: Run collectstatic and migrations
          command: |
            gcloud builds submit --config .cloudbuild/migrate_collectstatic.yaml \
            --substitutions _INSTANCE_NAME=${GOOGLE_PROJECT_ID},_REGION=${GOOGLE_REGION},_SERVICE_NAME=${GOOGLE_PROJECT_ID}
      
      - cloudrun/deploy:
          image: 'gcr.io/${GOOGLE_PROJECT_ID}/${GOOGLE_SERVICE_NAME}'
          platform: managed
          region: ${GOOGLE_REGION}
          service-name: '${GOOGLE_PROJECT_ID}'
          unauthenticated: true
      
      - run:
          name: Webhook Success
          command: bash .circleci/webhook_callback.sh "success"
          when: on_success

      - run:
          name: Webhook Failed
          command: bash .circleci/webhook_callback.sh "failure"
          when: on_fail

orbs:
  cloudrun: circleci/gcp-cloud-run@1.0.2
workflows:
  build_and_deploy_to_managed_workflow:
    jobs:
      - build_and_deploy